Package: cxgb4wdtoe
Section: Kernels
Version: 2.12.0.3 
Priority: optional
Architecture: any
Maintainer: Chelsio Communications <support@chelsio.com>
Depends: chelsio-series4-firmware (>= 1.1.0.10)
Description: Chelsio Terminator WD Offload driver for Linux
